.back{
    position: relative;
    width: 52rem;
    height: 44rem;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

.content{
    position: absolute;
    bottom: 200px;
    right: 26px;
    left: 900px;
    text-align: justify;
}

.head{
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.5cm;
}

.body{
    font-style: oblique;
}